name: Deploy to Server

on:
  push:
    branches:
      - main  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Deploy via SSH using password
        env:
          SSH_PASSWORD: ${{ secrets.PASSWORD }} 
          LOGIN: ${{ secrets.LOGIN }} 
        run: |
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
            "$LOGIN" "cd /home/react_front/ && git pull origin main"
